<div class="alert alert-danger text-center" style="height:620px">
	<h1><span class="glyphicon glyphicon-warning-sign text-large"></span></h1>
	<h1>Irregular Heartbeat Detected</h1>
	<p>
		You may be at risk of having a stroke.
		Please contact your primary care physician immediately.<br/>
	</p>
	<p>&nbsp;</p>
	<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-earphone">&nbsp;617-555-1212</span>
	</button>
	<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
</div>